{% extends 'layout.html'%}

{% block title%}
    CS50 Finance
{%endblock%}

{% block main %}
<table>
    <thead>
        <th>Stock Symbol</th>
        <th>Stock Number</th>
        <th>Stock Price</th>
        <th>Total Price</th>
    </thead>
    <tbody>
        {% for entry in data %}
        <tr>
            <td>{{entry.stock_name}}</td>
            <td>{{entry.stock_number}}</td>
            <td>{{entry.stock_price | usd}}</td>
            <td>{{entry.total_stock | usd}}</td>
        </tr>
        {% endfor %}

        <tr>
            <td></td>
            <td></td>
            <td><b>CASH</b></td>
            <td>{{cash_current | usd}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><b>TOTAL</b></td>
            <td>{{total | usd}}</td>
        </tr>
    </tbody>
</table>
{% endblock%}