*

!*.*

!*/

/.vscode
/test.dSYM
/hello.dSYM
/test


pset1/credit/credit.dSYM/Contents/Info.plist
.gitignore

pset1/.DS_Store

.DS_Store

pset3/tideman/tideman.dSYM/Contents/Info.plist

pset3/plurality/plurality.dSYM/Contents/Info.plist

pset1/hello/hello.dSYM/Contents/Info.plist

pset1/credit/calculate.cpp
lab4/volume.dSYM/Contents/Info.plist
lab4/output.wav
pset4/filter/out.bmp

!Makefile
pset4/filter/filter.dSYM/Contents/Info.plist
pset4/filter/edge.bmp
pset4/recover/Makefile
